* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('new_background.png');
    background-size:cover;
    background-position: top center;
}

.bg_container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px 15px 15px;
}

.error_msg {
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color:#e2b258;
}

header input {
   width:100%;
   max-width:280px;
   padding:10px 15px;
   border:none;
   outline: none;
   background-color: #96abd7;
   border-radius:10px;
   border-bottom:2px solid black;
}

.weather_details {
    padding:25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.city {
    color:#234099;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.date {
    color:#be5625;
    font-size: 16px;
}

.temp {
    color:#BE4D25;
    font-size: 80px;
    margin:10px 0px 5px 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.weather {
    color:#BE4D25;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
}

.temp_range {
    color:#BE4D25;
    font-size: 20px;
    font-weight: 200;
}
